<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
    <ion-label slot="end" class="Wellcome">Wellcome {{profile.name}}!</ion-label>
    <ion-icon name="log-out" slot="end" size="large" class="logout-icon" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!editMode">
  <div class="actions">
    <ion-button class="edit-button" (click)="editMode=true">Edit</ion-button>
    <ion-button class="delete-button" color="danger" (click)="deleteAccount()">Delete</ion-button>
  </div>

  <app-profile [profile]="profile"></app-profile>
  <!-- <ion-label class="projects-label">MY PROJECTS</ion-label>
  @for (project of projects; track project.id) {
    <app-project [project]="project"></app-project>
  } -->
</ion-content>

<ion-content *ngIf="editMode">
  <app-profile-edit [profile]="profile" (cancelEdit)="editMode = false" (doneEdit)="refreshProfile()"></app-profile-edit>
</ion-content>