<ion-content *ngIf="!editMode">
  <app-profile [profile]="profile"></app-profile>

  <div class="section-title">MY PROJECTS</div>
  <div
    class="section-description"
    *ngIf="projectsPreview(profile.id).length === 0"
  >
    You do not have any projects yet
  </div>
  <ion-card class="category-card">
    @for(project of projectsPreview(profile.id); track project.id){
    <div class="project-item">
      <ion-label class="project-title">{{ project.title }}</ion-label>
      <div class="project-icons">
        <ion-icon name="pencil" (click)="editProject(project.id)"></ion-icon>
        <ion-icon
          name="close"
          (click)="confirmDeleteProject(project.id)"
        ></ion-icon>
      </div>
    </div>
    }
    <div class="project-item">
      <ion-label class="project-title" (click)="newProject()"
        >Add new project</ion-label
      >
      <div class="project-icons">
        <ion-icon name="add" (click)="newProject()"></ion-icon>
      </div>
    </div>
  </ion-card>

  <div class="section-title">CONTACT ADMIN</div>

  <app-contact-admin
    (sendMessage)="handleAdminMessage($event)"
  ></app-contact-admin>

  <!-- Floating Action Buttons (FAB) for Edit -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button
      color="success"
      (click)="editMode=true"
      style="margin-bottom: 10px"
    >
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="editMode">
  <ion-label class="edit-label"> Edit Profile </ion-label>
  <app-profile-edit
    #profileEdit
    [profile]="profile"
    (doneEdit)="refreshProfile()"
  ></app-profile-edit>

  <!-- Floating Action Buttons (FAB) for Save and Cancel -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      color="danger"
      (click)="onCancelEdit()"
      style="margin-bottom: 10px"
    >
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="success" (click)="onSubmitEdit()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
