ion-toolbar {
    --background: linear-gradient(45deg,  #4d65b4, #fdfdfd); /* Adds a gradient background */
    --color: rgb(250, 249, 249); /* Sets the text color */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow below the header */
    --padding-start: 16px; /* Adds padding to the toolbar */
    --padding-end: 16px;
  }
  
  ion-title {
    font-size: 1.5rem; /* Increases the font size of the title */
    font-weight: bold; /* Makes the title bold */
    text-align: left; /* Centers the title */
  }
  
  ion-content {
    --background: #bed0f7; /* Sets a light background color */
    padding: 20px; /* Adds padding around the content */
  }
  
  .actions {
  margin-top: 10px;
  margin-right:20px;
  display: flex; /* Enables flexbox layout */
  justify-content: flex-end; /* Aligns the content to the right */
  align-items: center; /* Vertically aligns the checkbox and button text */
  gap: 10px; /* Adds space between the action elements */

  }

    .logout-icon {
    color: black;
  }

  .Wellcome {
    color: #3f3d3d;
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .edit-button,
    .delete-button {
      width: 100%; /* Full width for smaller screens */
      font-size: 0.9rem; /* Slightly smaller font size */
    }
  }