ion-content {
  --background: #bed0f7; /* Sets a light background color */
  padding: 20px; /* Adds padding around the content */
}

.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4a4a4a; /* Darker text color for better readability */
  margin-top: 40px;
  margin-left: 20px;
  text-align: left; /* Align the title to the left */
}
