<ion-content>
<div class="tech-container">
  @for (tech of listTechnologies; track tech) {
    <div
      class="tech"
      [class.selected]="isSelected(tech)"
      (click)="toggleTech(tech)"
    >

      <ion-icon class="technology-icon" 
        [src]="getIconUrl(tech.name)" 
        title="{{ tech.name}}"
        >
      </ion-icon>

      <p>{{ tech.name }}</p>
    </div>
  }
</div>




<!-- CARD TEST 1 -->
@for(project of listProjects; track project) {
  <div class="phone-mockup-container">
    <div class="phone-mockup">
      <div class="phone-screen"
          (touchstart)="onTouchStart($event)"
          (touchend)="onTouchEnd($event, project)">
        <img class="screenshot"
            [src]="project.photos[currentScreenshotIndexes[project.id]]"
            alt="Screenshot" />
      </div>
      <div class="carousel-dots">
        <span *ngFor="let img of project.photos; let i = index"
              [class.active]="i === currentScreenshotIndexes[project.id]"></span>
      </div>
    </div>
    <div class="project-info">
      <h3 class="project-title">{{project.title}}</h3>
      <div class="dev-name">Développeur : John Doe</div>
      <div class="tech-icons">
        @for(tech of project.technologies; track tech) {
          <ion-icon  
          [src]="getIconUrl(tech.name)" 
          title="{{ tech.name}}"
          ></ion-icon>
        }
      </div>
    </div>
  </div>
}


<!-- CARD TEST 2 -->

<div class="cards-grid">
  @for (project of listProjects; track project) {
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>{{ project.title }}</ion-card-title>
        <ion-card-subtitle>{{ project.contact }}</ion-card-subtitle>
      </ion-card-header>
      <div class="screenshots-row" [class.scrollable]="project.photos.length > 3">
        @for (img of project.photos; track img ; let i = $index) {
          <img class="screenshot"
               [src]="img"
               alt="Screenshot {{i + 1}}" />
        }
      </div>
      <ion-card-content>
        <div class="card-description">
          {{ project.description }}
        </div>
        <div class="tech-icons">
          @for(tech of project.technologies; track tech) {
            <ion-icon  
              [src]="getIconUrl(tech.name)" 
              title="{{ tech.name }}"></ion-icon>
          }
        </div>
      </ion-card-content>
    </ion-card>
  }
</div>

</ion-content>


