<ion-content class="ion-padding">
  <div class="project-details-container">
    <div class="project-header">
      <h2>{{ project.title }}</h2>
      @if(project.photos?.length > 0){
      <div class="project-main-image">
        <img [src]="project.photos[0]" alt="Project preview image" />
      </div>
      }
      <div class="project-info">
        <div class="project-meta">
          <div class="category-badge">
            <img
              class="category-badge-img"
              appDetectOrientation
              [src]="'assets/icon/categories/' + project.category + '.png'"
              [alt]="project.category + ' icon'"
            />
            <span class="category-badge-label">{{ project.category }}</span>
          </div>
          <span class="project-date">
            <ion-icon name="calendar-outline"></ion-icon>
            {{ getFormattedDate(project.date) }}
          </span>
        </div>
        <p>{{ project.description || "No description provided." }}</p>
        <p class="project-link">
          @if(project.link){
          <ion-chip color="primary" class="project-link-chip">
            <ion-icon name="open-outline"></ion-icon>
            <a [href]="project.link" target="_blank" rel="noopener">{{
              project.link
            }}</a>
          </ion-chip>
          }
        </p>
      </div>
    </div>

    <ion-segment [value]="selectedTab" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="overview" layout="icon-start">
        <ion-label>Overview</ion-label>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="gallery" layout="icon-start">
        <ion-label>Gallery</ion-label>
        <ion-icon name="images-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    @if(selectedTab === 'overview'){
    <h3>Technologies</h3>
    <div class="chip-container">
      @for(tech of project.technologies; track tech) {
      <ion-chip class="tech-chip">
        <ion-icon [src]="getIconUrl(tech.name)"></ion-icon>
        <ion-label>{{ tech.name }} {{ tech.version }}</ion-label>
      </ion-chip>
      }
    </div>

    <h3>Authors</h3>
    <div class="chip-container">
      @for(author of authorsPreview; track author) {
      <ion-chip class="author-chip" (click)="onProfileClick($event, author.id)">
        <ion-avatar>
          <img
            [src]="author.photo || 'assets/default-profile.png'"
            alt="Author avatar"
          />
        </ion-avatar>
        <ion-label>{{ author.name }} {{ author.surname }}</ion-label>
      </ion-chip>
      }
    </div>

    } @else { @if(project.photos?.length > 0){
    <div class="project-gallery">
      <div class="gallery-grid">
        @for(photo of project.photos; track photo) {
        <div class="gallery-item" [ngClass]="getImageClass(photo)">
          <img
            [src]="photo"
            alt="Screenshot"
            (load)="onImageLoad($event, photo)"
            (click)="openImageModal(photo)"
          />
        </div>
        }
      </div>
    </div>
    } }
  </div>
  <ion-modal
    [isOpen]="isImageModalOpen"
    (didDismiss)="closeImageModal()"
    class="image-only-modal"
    backdropDismiss="true"
  >
    <ng-template>
      <div class="image-only-wrapper" (click)="closeImageModal()">
        <img
          [src]="selectedImageUrl"
          class="image-only-full"
          (click)="$event.stopPropagation()"
          alt="Full Image"
        />
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
