.requests-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /*max-height: 400px; /* Hauteur maximale de la carte */
  overflow: auto;
}

.mat-card-content{
  overflow: auto;
}

.mat-card-content .mat-mdc-icon-button{
  width: unset;
  height: unset;
  padding: 0;
}

.requests-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /*max-height: 300px; /* Limite la hauteur de la liste */
  /*overflow: auto; /* Scroll vertical uniquement */
  padding-right: 8px; /* Laisse de l'espace pour la scrollbar */
}

.request-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  background-color: #f9f9f9;
  border-radius: 8px;
  transition: background 0.2s, opacity 0.3s;
  cursor: pointer;
  min-height: 48px;
  position: relative;
}

.request-item:hover {
  background-color: #e0e0e0;
}

.request-item.support {
  border-left: 4px solid #2196f3;
}

.request-item.complaint {
  border-left: 4px solid #f44336;
}

.request-item.suggestion {
  border-left: 4px solid #ff9800;
}

.request-item.verification {
  border-left: 4px solid #4caf50;
}

.request-item.deletion {
  border-left: 4px solid #9c27b0;
}

.request-item mat-icon {
  font-size: 24px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-text {
  flex: 1;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.no-requests {
  text-align: center;
  font-size: 14px;
  color: #757575;
}
