<ion-card class="project-card">
  <ion-card-header class="project-header">
    <img
      [src]="project.photos[0]"
      [alt]="project.title + ' preview'"
      class="project-image"
    />

    <div class="project-info">
      <ion-card-title class="project-title">{{ project.title }}</ion-card-title>

      <div class="tech-list">
        @for(tech of project.technologies; track tech) {
        <ion-chip class="tech-chip">
          <ion-icon [src]="getIconUrl(tech.name)"></ion-icon>
          <ion-label>{{ tech.name }} {{ tech.version }}</ion-label>
        </ion-chip>
        }
      </div>

      <div class="author-section">
        <p class="project-meta">Created in YEAR by :</p>
        <div class="author-list">
          @for(author of authorsPreview; track author){
          <ion-chip
            class="author-chip"
            (click)="onProfileClick($event, author.id)"
          >
            <ion-avatar>
              <img
                [src]="author.photo || 'assets/default-profile.png'"
                alt="Author avatar"
              />
            </ion-avatar>
            <ion-label>{{ author.name }} {{ author.surname }}</ion-label>
          </ion-chip>

          }
        </div>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content>
    <p class="project-description">
      An e-commerce platform for selling various products online.
    </p>

    <div class="project-screenshots">
      @for(screenshot of project.photos; track screenshot) {
      <img
        [src]="screenshot"
        [alt]="project.title + ' screenshot ' + project.id"
        class="screenshot"
      />
      }
    </div>
  </ion-card-content>
  <div class="project-category-badge">
    <img
      class="project-category-badge-img"
      [src]="'assets/icon/categories/' + project.category + '.png'"
      [alt]="project.category + ' icon'"
    />
    <span class="project-category-badge-label">{{ project.category }}</span>
  </div>
</ion-card>
