<mat-card class="statistics-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Statistiques Globales</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="statistics-content">
      <div class="stat-item">
        <mat-icon color="primary">group</mat-icon>
        <div>
          <h3>1 245</h3>
          <p>Utilisateurs inscrits</p>
        </div>
      </div>

      <div class="stat-item">
        <mat-icon color="primary">show_chart</mat-icon>
        <div>
          <h3>320</h3>
          <p>Utilisateurs actifs cette semaine</p>
        </div>
      </div>

      <div class="stat-item">
        <mat-icon color="primary">trending_up</mat-icon>
        <div>
          <h3>+12%</h3>
          <p>Croissance des utilisateurs</p>
        </div>
      </div>
    </div>
    <app-doughnut-chart></app-doughnut-chart>
  </mat-card-content>
</mat-card>
