<h2 mat-dialog-title>Paramètres de l'utilisateur</h2>
<mat-dialog-content class="user-settings-dialog-container">
  @if (!isEditing()) {
  <p><strong>Nom :</strong> {{ data.user.name }}</p>
  <p><strong>Prénom :</strong> {{ data.user.surname }}</p>
  <p><strong>Role :</strong> {{ data.user.role }}</p>
  <p><strong>Email :</strong> {{ data.user.email }}</p>

  <mat-divider class="my-2"></mat-divider>

  <button mat-button color="primary">Réinitialiser le mot de passe</button>
  <button mat-button color="warn" (click)="openDeleteUserDialog(data.user)">
    Supprimer cet utilisateur
  </button>
  <button mat-button color="accent" (click)="startEditing()">Modifier</button>
  } @else {
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="editedUser.name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Prénom</mat-label>
    <input matInput [(ngModel)]="editedUser.surname" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <input matInput [(ngModel)]="editedUser.role" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="editedUser.email" />
  </mat-form-field>

  <div class="edit-actions">
    <button mat-raised-button color="primary" (click)="saveUserChanges()">
      Enregistrer
    </button>
    <button mat-button (click)="cancelEditing()">Annuler</button>
  </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="confirmClose()">Fermer</button>
</mat-dialog-actions>
