<h2 mat-dialog-title>Paramètres de l'utilisateur</h2>
<mat-dialog-content>

  <p><strong>Nom : {{ data.user.nom }}</strong></p>
  <p><strong>Prénom : {{ data.user.prenom }}</strong></p>
  <p><strong>Age : {{ data.user.age }}</strong></p>
  <p><strong>Rôle : [TODO]</strong></p>
  <p><strong>Date d'inscription : [TODO]</strong></p>
  <p><strong>Dernière activité :</strong> il y a 3 jours</p>

  <mat-divider class="my-2"></mat-divider>

  <button mat-button color="primary">Réinitialiser le mot de passe</button>
  <button mat-button color="accent">Modifier le rôle</button>
  <button mat-button color="warn" (click)="confirmDeletion()">
    Supprimer cet utilisateur
  </button>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="confirmClose()">Fermer</button>
</mat-dialog-actions>
