<div class="unauthorized-wrapper">
  <mat-card class="unauthorized-card">
    <div class="icon-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="96"
        viewBox="0 0 24 24"
        width="96"
        fill="#d32f2f"
      >
        <path
          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10
            10-4.48 10-10S17.52 2 12 2zm5 13.59L15.59 17
            12 13.41 8.41 17 7 15.59 10.59 12 7 8.41
            8.41 7 12 10.59 15.59 7 17 8.41 13.41 12
            17 15.59z"
        />
      </svg>
    </div>

    <h2>Accès refusé</h2>
    <p>
      @if (message) {
      {{ message }}
      } @else { Vous n’avez pas les autorisations nécessaires pour accéder à
      cette page. }
    </p>

    <button mat-raised-button color="primary" (click)="goToLogin()">
      Retour à la connexion
    </button>
  </mat-card>
</div>
