<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-select
      formControlName="category"
      interface="popover"
      placeholder="Select a category"
    >
      <ion-select-option *ngFor="let cat of categories" [value]="cat">{{
        cat
      }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Message</ion-label>
    <ion-textarea formControlName="message" rows="6"></ion-textarea>
  </ion-item>

  <ion-button expand="block" type="submit" [disabled]="contactForm.invalid">
    Send Message
  </ion-button>
</form>
