<ion-app>
  <ion-header>
    <ion-toolbar>
            <div class="toolbar-content">

      <ion-img src="./assets/logo.png" class="logo"></ion-img>
      <div *ngIf="auth.isLoggedIn" class="user-info">
        <ion-label  class="Wellcome">Wellcome {{profile.name}}!</ion-label>
        <ion-icon name="log-out"  size="large" class="logout-icon" (click)="logout()"></ion-icon>
      </div>
      </div>
    </ion-toolbar>
   
  </ion-header>
  <ion-content>
      <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
