<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="project-edit-form">

    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input formControlName="title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Catégorie</ion-label>
      <ion-select formControlName="category" interface="popover" required>
        @for(cat of categories; track cat) {
          <ion-select-option [value]="cat.name">{{cat.name}}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-input formControlName="date" type="date" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" autoGrow="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Technologies</ion-label>
      <ion-input formControlName="technologies"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Auteurs</ion-label>
      <ion-input 
        formControlName="authors"
        (ionInput)="onAuthorInput($event)"
        [value]="authorsInput"
      >
      </ion-input>

    </ion-item>
    @if(filteredProfiles.length > 0){
          <ion-list class="FilteredProfile">
            @for(profile of filteredProfiles; track profile) {
              <ion-item 
                style="padding:0; margin:0; --background:#fff;"
                (click)="selectAuthor(profile)">
                {{profile.name}} {{profile.surname}}
              </ion-item>
            }
          </ion-list>
    } @else if(authorsInput && authorsInput.length > 0) {
      <p>No profile found..</p>
    }
    @for(profile of selectedProfiles; track profile){
      <ion-chip class="author-chip">
        <ion-avatar>
          <img [src]="profile.photo || 'assets/default-profile.png'" alt="Author avatar" />
        </ion-avatar>
        <ion-label>{{ profile.name }} {{ profile.surname }}</ion-label>
        <ion-icon name="close" (click)="removeAuthor(profile)"></ion-icon>
      </ion-chip>
  
    }
     
    <ion-item>
      <ion-label>Photos</ion-label>
      <input type="file" multiple (change)="onPhotosSelected($event)" accept="image/*" />
    </ion-item>
    <div class="preview-photos" *ngIf="photos.length > 0">
      @for(photo of photos; track photo) {
        <img [src]="photo" class="photo-preview" />
      }
    </div>


    <ion-button expand="block" type="submit" [disabled]="projectForm.invalid">Créer le projet</ion-button>
  </form>
</ion-content>
