<ion-label class="pageTitle"> {{ pageTitle }}</ion-label>
<form
  [formGroup]="projectForm"
  (ngSubmit)="onSubmit()"
  class="project-edit-form"
>
  <ion-item>
    <ion-label position="floating">Title*</ion-label>
    <ion-input formControlName="title" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Category*</ion-label>
    <ion-select
      formControlName="category"
      interface="popover"
      required
      label-placement="stacked"
    >
      @for(cat of categories; track cat) {
      <ion-select-option [value]="cat.name">{{ cat.name }}</ion-select-option>
      }
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Date*</ion-label>
    <ion-input formControlName="date" type="date" required></ion-input>
  </ion-item>
  @if(projectForm.errors?.['futureDateNotAllowed']){
  <small class="error-text"> Date must be today or earlier. </small>
  }

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea formControlName="description" autoGrow="true"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Link</ion-label>
    <ion-input formControlName="link" required></ion-input>
  </ion-item>
  @if(projectForm.get('link')?.errors?.['pattern'] &&
  projectForm.get('link')?.touched){
  <small class="error-text"> Please enter a valid URL </small>
  }

  <ion-item>
    <ion-label position="floating">Technologies*</ion-label>
    <ion-input
      formControlName="techName"
      (ionInput)="checkUrlExists()"
    ></ion-input>
  </ion-item>

  <ion-item class="version">
    <ion-label position="floating">Version</ion-label>
    <ion-input formControlName="techVersion" (ionInput)="checkUrlExists()">
    </ion-input>
  </ion-item>

  <ion-chip (click)="addTech()" color="primary" slot="end">
    @if(techFound){
    <ion-icon [src]="techIconUrl"></ion-icon>
    } @else {
    <ion-icon name="sad-outline"></ion-icon>
    }
    <ion-label
      >{{ projectForm.value.techName }}
      {{ projectForm.value.techVersion }}</ion-label
    >
    <ion-icon name="add"></ion-icon>
  </ion-chip>
  @for(tech of technologies; track tech) {
  <ion-chip>
    <ion-icon [src]="getIconUrl(tech.name)"></ion-icon>
    <ion-label>{{ tech.name }} {{ tech.version }}</ion-label>
    <ion-icon name="close" (click)="removeTech(tech)"></ion-icon>
  </ion-chip>
  }

  <ion-item>
    <ion-label position="floating">Author(s)*</ion-label>
    <ion-input
      formControlName="authors"
      (ionInput)="onAuthorInput($event)"
      [value]="authorsInput"
    >
    </ion-input>
  </ion-item>
  @if(filteredProfiles.length > 0){
  <ion-list class="FilteredProfile">
    @for(profile of filteredProfiles; track profile) {
    <ion-item
      style="padding: 0; margin: 0; --background: #fff"
      (click)="selectAuthor(profile)"
    >
      {{ profile.name }} {{ profile.surname }}
    </ion-item>
    }
  </ion-list>
  } @else if(authorsInput && authorsInput.length > 0) {
  <p>No profile found..</p>
  } @for(profile of selectedProfiles; track profile){
  <ion-chip class="author-chip">
    <ion-avatar>
      <img
        [src]="profile.photo || 'assets/default-profile.png'"
        alt="Author avatar"
      />
    </ion-avatar>
    <ion-label>{{ profile.name }} {{ profile.surname }}</ion-label>
    <ion-icon name="close" (click)="removeAuthor(profile)"></ion-icon>
  </ion-chip>

  }

  <ion-item>
    <ion-label>Picture(s)</ion-label>
    <input
      type="file"
      multiple
      (change)="onPhotosSelected($event)"
      accept="image/*"
    />
  </ion-item>
  @if(photos.length > 0){
  <div class="preview-photos">
    @for(photo of photos; track photo) {
    <div class="photo-wrapper">
      <img [src]="photo" class="photo-preview" />
      <ion-icon
        name="close-circle-outline"
        class="remove-photo-icon"
        (click)="removePhoto(photo)"
      ></ion-icon>
    </div>
    }
  </div>
  }
</form>

<ion-toast
  [isOpen]="isToastOpen"
  [message]="messageToast"
  [duration]="5000"
  [color]="colorToast"
  (didDismiss)="setOpen(false)"
></ion-toast>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button
    color="danger"
    (click)="onCancel()"
    style="margin-bottom: 10px"
  >
    <ion-icon name="close"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    color="success"
    (click)="onSubmit()"
    [disabled]="projectForm.invalid"
  >
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
</ion-fab>
