<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profiles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search Field -->
  <div class="search-container">
    <ion-item class="search-field">
      <ion-input 
        [(ngModel)]="searchTerm" 
        (ngModelChange)="updateFilteredProfiles()"
        placeholder="Search by ..."
        clearInput>
      </ion-input>
    </ion-item>
  </div>
  
  <!-- Technologies Filter -->
  <div class="tech-container">
  @for (tech of listTechnologies; track tech) {
    <div
      class="tech"
      [class.selected]="isSelected(tech)"
      (click)="toggleTech(tech)"
    >

      <ion-icon class="technology-icon" 
        [src]="getIconUrl(tech.name)" 
        title="{{ tech.name}}"
        >
      </ion-icon>

      <p>{{ tech.name }}</p>
    </div>
  }
</div>
  
  @for (profile of filteredProfiles; track profile.name)
  {
   <app-profile [profile]="profile" ></app-profile>
  }

</ion-content>
