<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Profiles </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search Field -->
  <app-search
    [profiles]="profiles"
    [selectedTechnologies]="selectedTechnologies"
    (filteredProfiles)="onFilteredProfiles($event)"
  >
  </app-search>

  <app-horizontal-filter
    [listItems]="listTechnologies"
    (filteredItems)="onFilteredItems($event)"
  >
  </app-horizontal-filter>

  @for (profile of filteredProfiles; track profile.name) {
  <app-profile [profile]="profile"></app-profile>
  }
</ion-content>
