
 
    <ion-card>
      <ion-card-header>
        <ion-avatar class="top-right-avatar">
          <img [src]="profile.photo" />
        </ion-avatar>
        <ion-card-title>{{ profile.name }} {{ profile.surname }}</ion-card-title>
        <ion-card-subtitle>{{ profile.role }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        @for (skill of profile.technologies; track skill.name){
          <ion-chip >
            <ion-icon [src]="getIconUrl(skill.name) "></ion-icon>
            <ion-label>{{ skill.name }} {{skill.version}} </ion-label>
          </ion-chip>
        }
        <p>{{ profile.bio }}</p>
        
            <swiper-container [breakpoints]="swiperBreakpoints" space-between=10  navigation  >


              @for (preview of projectsPreview(profile.userId); track $index){
                <swiper-slide>
                  <div class="image-container">
                    <ion-img [src]="'assets/' + preview.id + '/' + preview.photos[0]"></ion-img>
                    <div class="icons-container">

                      @for(technology of preview.technologies; track technology){
                        <ion-icon class="technology-icon" [src]="getIconUrl(technology.name)" title="{{ technology.name}} {{technology.version }}"></ion-icon>
                      }
                      
                    </div>
                    <div class="title-container">
                      {{ preview.title }}
                    </div>
                   
                  </div>
                </swiper-slide>
              }
            </swiper-container>
            <p class="contact-info">
              Email: <strong><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></strong><br>
              Phone: <strong>{{ profile.phone }}</strong>
            </p>

      </ion-card-content>
    </ion-card>



