<ion-content [fullscreen]="true">
  <!-- Search Field -->
  <app-search
    [items]="projects"
    [selectedCategories]="selectedCategories"
    (filteredItems)="onFilteredProjects($event)"
  >
  </app-search>

  <app-horizontal-filter
    [listItems]="categories"
    (filteredItems)="onFilteredItems($event)"
  >
  </app-horizontal-filter>

  <div class="project-grid" [class.empty]="filteredProjects.length === 0">
    @if (filteredProjects.length === 0) {
    <div class="no-projects-message">
      <img src="assets/icon/no-result.png" alt="No projects found" />
      <p>No projects found.</p>
    </div>
    } @else { @for(project of filteredProjects; track project){
    <app-project
      [project]="project"
      class="project-card"
      (click)="showProject(project._id)"
    ></app-project>
    } }
  </div>
</ion-content>
